* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  color: darkblue;
}

 form, 
 nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
 }

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding:1rem;
  padding: 1rem;
  border-radius: 30px;
  border: 1px solid white;
  color:rgb(63,94,251);
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  font-size: xx-small;
  color:white;
}


h3 {
  background-color: rgb(196, 187, 187);
  border-radius: 5px;
  padding: 2rem;
  border: 2px plum solid;
  margin-left: 1rem;
  margin-right: 1rem;
}

h4 {
  background-color: rgb(196, 187, 187);
  border-radius: 10px;
  padding: 2rem;
  border: 2px plum solid;
  margin-left: 1rem;
  margin-right: 1rem;
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  } */
/* } */

